In [33]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [34]:
df = pd.read_csv("/content/drive/MyDrive/datasets/pets.csv")

In [35]:
df

   Height  Weight    Eye Species
0    88.9    48.3  Brown     Dog
1    90.2    47.4  Brown     Dog
2    82.7    44.8   Blue     Dog
3    81.4    48.2  Brown     Dog
4    83.5    39.9  Brown     Dog
5    76.4    35.4   Blue     Cat
6    82.3    40.4   Blue     Cat
7    81.1    39.9   Blue     Cat
8    79.9    43.2   Blue     Cat
9    82.4    45.7  Brown     Cat

In [36]:
X = df[["Height", "Weight", "Eye"]]
X = X.replace(["Brown", "Blue"], [1, 0])

In [37]:
y = df["Species"]

In [38]:
pet_model = LogisticRegression() 
pet_model.fit(X, y)

LogisticRegression()

In [39]:
import joblib

In [40]:
joblib.dump(pet_model, "pet_model.pkl")

['pet_model.pkl']